/* COLOURS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* it changes the box model so that the borders and the paddings are no longer added to the total width and total height that we specify for the box */
}

body { /* power of inheritance */
  font-family: "Lato", sans-serif; /* this font family will get inherited to all the child elements of the body */
  font-weight: 400;
  font-size: 16px; /* will cjhange later for the better technique */
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh; /* 95% of the view port height */
  background: linear-gradient(
    to right bottom,
    rgba(126, 218, 111, 0.8),
    rgba(10, 180, 131, 0.8)),
    url(../img/hero.jpg);
  background-size: cover; /* cover tries to fir the vh of the box */
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
